.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 20%;
    background-color: rgb(19, 183, 46) !important;
}

.bar{
    color:aliceblue;
    font-weight: 600;
    font-size: 25px;
}

.barlink{
    font-size: 15px;
    color:aliceblue;
    padding-left: 60px !important;
}

.rightheder{
    display: flex;
    justify-content: flex-end;
}






